
<h2>Área do Administrador</h2>

<hr />

@using (Html.BeginForm("ControleUsuarios", "Admin", FormMethod.Post))
{
    <div class="form-group">
        <div>
            <input type="submit" value="Controle de Usuários" class="btn btn-default" />
        </div>
    </div>
}

<hr />

@using (Html.BeginForm("ControleProdutos", "Produto", FormMethod.Post))
{
    <div class="form-group">
        <div>
            <input type="submit" value="Controle de Produtos" class="btn btn-default" />
        </div>
    </div>
}

<hr />

@using (Html.BeginForm("ControleFabricantes", "Fabricante", FormMethod.Post))
{
    <div class="form-group">
        <div>
            <input type="submit" value="Controle de Fabricantes" class="btn btn-default" />
        </div>
    </div>
}


